services:
  admin:
    build: ./admin
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/expense_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      - db
    # Volume mount removed to prevent overwriting compiled code

  ui:
    build: ./ui
    ports:
      - "5173:5173"
    command: pnpm start --host
    volumes:
      - ui-sync:/app:cached
      - node_modules:/app/node_modules
    depends_on:
      - admin

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: expense_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  mysql_data:
  ui-sync:
    external: true
  node_modules: {}
